/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* FORMS */
.form {
    min-width: 550px;
    margin: 2px;
    padding-bottom: 20px;
}
.form .form-header {
    padding: 10px 20px;
    position: relative;
    border-bottom: 1px solid;
}
.form .form-header h2 {
    padding: 0;
    margin: 0;
    display: block;
    max-width: 70%;
}

.form .form-header .header-actions {
    position: absolute;
    top: 10px;
    right: 20px;
    text-align: right;
}

.form .form-content {
    width: 460px;
    padding: 20px 20px 0px;
    position: relative;
}
.form .form-content.small {
    width: 50px;
}
.form .form-content.small input{
    min-width: 50px !important;
}
.form .form-content.medium {
    width: 30%;
}

.form .form-content .form-row {
    width: 100%;
    max-width: 900px;

    margin: 0 0 5px;
}
.form .form-content .form-row.submit {
    text-align: right;
    padding: 5px 10px 0 0;

}

.form .form-content .form-row label{
    width: 30%;
    min-width: 70px;
    text-align: right;
    padding: 0;
    display: inline-block;
    padding-top: 6px;
}

.form .form-content .form-row input[type="text"], .form .form-content .form-row input[type="date"], .form .form-content .form-row input[type="file"] {
    width:65%;
    padding: 0 1%;
    margin: 0;
    min-width: 200px;
    vertical-align:top;
    border: 1px solid;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    min-height: 25px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    float: right;
    vertical-align: middle;
}
.form .form-content .form-row input[type="file"] {
    padding-top: 3px;
    height:22px;
    background-color: #FFF;
    min-height: 22px;
    vertical-align: middle;
}
.form .form-content .form-row .input-button  {
    width: 67%;
    padding: 0;
    float: right;
    margin-right: 2px;
}


.form .form-content .form-row .input-button input[type="text"] {
    width: 72% !important;
    float: none;
}
.form .form-content .form-row .input-button .button {
    float: none;
    width: 20%;
    max-width: 20%;
    min-width: 60px;
    padding: 0 5px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.form .form-content .form-row textarea{
    width: 65%;
    padding: 1%;
    margin: 0;
    min-width: 200px;
    vertical-align:top;
    border: 1px solid;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    min-height: 100px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    float: right;
}
.form .form-content .form-row .select-container {
    width: 67%;
    min-width: 200px;
    background-color: #FFF;
    padding: 1px 0 0;
    min-width: 200px;
    vertical-align:top;
    border: 1px solid;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 25px; 
    display: inline-block;
    float: right;
}

.form .form-content .form-row .select-container select {
    border: none !important;
    width: 100%;
    height:25px;
    -webkit-appearance: select;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    background-color: #FFF;


}

.form .form-content .form-row .select-container.multi {
    min-height: 25px;
    height: auto; 
}

.form .form-content .form-row .select-container.multi select {

    min-height: 25px;
    height: auto; 

}

.form-content.one-col .form-row label{
    width: 100%;
    text-align: left;
}
.form-content.one-col .form-row input[type="text"], .form-content.one-col .form-row input[type="date"], .form-content.one-col .form-row input[type="file"], .form-content.one-col .form-row textarea {
    width: 98%;
    float: none;
}
.form-content.one-col .form-row .select-container, .form-content.one-col .form-row .input-button {
    width: 100%;
    float: none;
}

/* BUTTONS */

.button {
    display: inline-block;
    cursor: pointer; 
    height: 27px;
    line-height: 27px;
    padding: 0 15px;
    text-align: center;
    vertical-align: middle;
}

a.button {
    height: 25px;
    text-decoration: none;
    text-align: center;
}

.list .list-options  .select-container {

    background-color: #FFF;
    padding: 1px 4px 0;
    vertical-align:middle;
    border: 1px solid;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    height: 24px; 
    display: inline-block;

    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.list .list-options  .select-container select {
    border: none !important;
    width: 100%;
    height:20px;
    background-color: #FFF;


}

.list-content td .button {
    font-size: 10px;
    padding: 0 5px;
    height: 16px;
    line-height: 16px;
}

/* LIST */

.list {
    min-width: 320px;
    margin: 2px;
}

.list .list-options {
    padding: 10px 20px;
    position: relative;
    border-bottom: 1px solid;
    min-height: 25px;
    line-height: 26px;
    font-size: 11px;
}

.list .list-options input[type="search"] {
    padding: 0 1%;
    border: 1px solid;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    min-height: 25px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    vertical-align: middle;
}
.list .list-options .option {
    display: inline-block;
    height: 25px;
    line-height: 30px;
    padding: 0px 5px;
}

.list .list-content {
    padding: 20px;
    position: relative;
    font-size: 12px;
}
.list .list-content table {
    width: 100%;

}
.list .list-content table thead{

}
.list .list-content table thead th{
    text-align: left;
    padding: 4px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;


}
.list .list-content table tbody tr{

}
.list .list-content table tbody td{
    text-align: left;
    padding: 2px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;

}

.list .list-content table td.checkbox-size, .list .list-content table th.checkbox-size {
    width: 10px;
}


/* FORM GROUP */

.form-group {
    border: 1px solid;
    padding: 20px 20px ;
    margin: 10px 0 20px;
    position: relative;
    min-width: 200px;
    min-height: 20px;
    vertical-align: top;
}

.form-group.inline {
    display: inline-block;
}

.form-group .title {
    position: absolute;
    top:-10px;
    height: 20px;
    left: 20px;
    display: inline-block;
}
.form-group .group-row {
    width: 100%;
    max-width: 900px;

    margin: 0 0 5px;
}
.form-group .group-row input[type="text"], form-group .group-row  input[type="date"], .form-group .group-row input[type="file"] {
    padding: 0px;
    margin: 0;
    min-width: 100px;
    vertical-align:top;
    border: 1px solid;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    min-height: 25px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    vertical-align: middle;
    display: inline-block;
    width: 98%;
}

.form-group .group-row.value-pair input[type="text"] {
    width: 48%;
    padding: 0px;

}
.form-group .group-row.value-pair input[type="text"]:first-child {
    -webkit-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
    margin-right: -1px;
}
.form-group .group-row.value-pair input[type="text"]:last-child {
    -webkit-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
}

#container {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 300px;
    position: relative;
    width: 300px;
    margin:0 auto;
}
.image {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 0;
}
.link-1, .link-2, .link-3, .link-4, .link-5, .link-6 {
    color: #FFFFFF;
    font-size: 18px;
    position: absolute;
    z-index: 0;
}
.link-1 div, .link-2 div, .link-3 div, .link-4 div, .link-5 div, .link-6 div {
    color: #FFFFFF;
    display: block;
    height: 80px;
    line-height: 80px;
    text-align: center;
    text-decoration: none;
    width: 140px;
}
.link-1 div:hover, .link-2 div:hover, .link-3 div:hover, .link-4 div:hover, .link-5 div:hover, .link-6 div:hover {
    text-decoration: none;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
.title-jbpm {
    color: #1B75BB;
    font-size: 30px;
    left: 110px;
    position: absolute;
    top: 130px;
    z-index: 0;
}
.link-1 {
    left: 38px;
    top: 12px;
}
.link-2 {
    left: 142px;
    top: 22px;
}
.link-3 {
    left: 188px;
    top: 115px;
}
.link-4 {
    left: 125px;
    top: 207px;
}
.link-5 {
    left: 23px;
    top: 192px;
}
.link-6 {
    left: -23px;
    top: 100px;
}


/*
 *  TASK CSS
 */

.day-tasks-container .top {
    background-color: #bfbfbf;
    padding: 0 10px;
    font-size: 14px;
    color: #6d6b6c;
    height: 24px;
    line-height: 24px;
}

.day .tasks-list {
    padding: 5px 20px 20px 20px;
}

.task {
    background-color: #FFF;
    border: 1px solid #9a9a9a;
    margin-bottom: 5px;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2); 
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
    position:relative;
    padding: 1px;
    -webkit-transition: all .25s;
    transition: all .25s;
}

.task:hover {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,.2); 
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,.2); 
    background-color: #e9faff;
}

.task .priority {
    position: absolute;
    top: 1px;
    left: 1px;
}



.priority.five {
    background-color: #ffaa00;
}
.priority.four {
    background-color: #ffbf40;
}
.priority.three {
    background-color: #ffd47f;
}
.priority.two {
    background-color: #ffeabf;
}
.priority.one {
    background-color: #fff7e6;
}
.priority span {
    opacity: .3;
}

.priority.circle {
    width: 10px;
    display:inline-block;
    height: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.task .hour {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 9px;
    color: #FFF;
    background-color: #979797;
    padding: 0 4px;
    font-family: Verdana, sans-serif;
}

.task .task-options {
    position: absolute;
    right: 0px;
    top: 1px;
}

.task .task-options > a, .task .task-options > div {
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 1px;
}

.task.in-progress .task-options > div {
    background-color: #66cc00 !important;
}

.task.in-progress .task-options > a, .task.in-progress .task-options .sub-options > a  {
    background-color: #d2f0b2 !important;
}

.task.in-progress .task-options > a:hover, .task.in-progress .task-options .sub-options > a:hover  {
    background-color: #66cc00 !important;
}


.task .task-options .group-task {
    width: 43px;
    height: 43px;
    overflow: hidden;
    text-indent: -9000px;
    background-color: #333333;
    background-image: url(../images/group-task-icon.png);   
}
.task .task-options .personal-task {
    width: 43px;
    height: 43px;
    overflow: hidden;
    text-indent: -9000px;
    background-color: #333333;
    background-image: url(../images/personal-task-icon.png);   
}
.task .task-options .clickable {
    width: 43px;
    height: 43px;
    overflow: hidden;
    text-indent: -9000px;
    background-color: #b2b2b2;
}
.task .task-options .clickable:hover {
    background-color: #999;
    -webkit-box-shadow: inset 0px 2px 8px 0px rgba(0,0,0,.4); 
    box-shadow: inset 0px 2px 8px 0px rgba(0,0,0,.4);
}


.task .task-options .start {
    background-image: url(../images/start-icon.png); 
} 
.task .task-options .claim {
    background-image: url(../images/claim-icon.png); 
}
.task .task-options .release {
    background-image: url(../images/release-icon.png); 
}

.task .task-options .complete {
    background-image: url(../images/complete-icon.png); 
}  

.task .task-options .sub-options {
    position: relative;
    height: 43px;
    width: auto;
}

.task .task-options .sub-options .arrow{
    position: absolute;
    right: -1px;
    top: 0;
    background-image: url(../images/sub-options.png);
    width: 10px;
    height: 43px;
    background-repeat: no-repeat;
    background-position: center right;
    z-index: 10;
}

.task.in-progress .task-options .sub-options .arrow {
    background-image: url(../images/sub-options-active.png);
}

.task .task-options .sub-options div{
    display: inline-block;
}





/* DAY VIEW */

.day .task {
    height: 43px;
}

.day .task .priority {
    width: 43px;
    height: 43px;
    text-align: center;
    line-height: 43px;
}

.day .task .task-name {
    font-size: 18px;
    color: #666;
    line-height: 44px;
    padding-left: 55px;
}

.day .task .task-name div {
    color: #666; 
    text-decoration: none;
    display: block;
}
.day .task .task-name div:hover {
    color: #3a4041;
}

/* WEEK VIEW */
#section-content.week  {
    height: 85%;
}

.week .day-tasks-container {
    width: 20%;
    float: left;
    height: 100%;
    border-right: 1px solid #929292;
    margin-right: -1px;
}

.week .day-tasks-container .tasks-list {
    height: 90%;
    padding: 5px 5px 100px 5px;
    overflow-y: auto;
    overflow-x: hidden;

}

.week #task-container {
    overflow: hidden;    
}

.week .task {
    height: 43px;
}

.week .task .task-options {
    display: none;

}

.week .task:hover .task-options {
    display: block;
    z-index: 20;
    background-color: #FFF;
    padding-left: 1px;
}

.week .task .priority {
    height: 43px;
    line-height: 43px;
    display: block;
    position: static;
}

.week .task .priority span {
    display: none;
}

.week .task .task-name {
    font-size: 14px;
    color: #666;
    line-height: 44px;
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
}

.week .task .task-name div {
    color: #666; 
    text-decoration: none;
    display: block;
    padding-left: 10px;
}
.week .task .task-name div:hover {
    color: #000;
}


.week .task.active {
    border-right: 10px solid #66cc00;
}


.week .task.active:hover .task-options {

}



/* DETAIL CONTAINER */

#detail-container {
    position: fixed;
    z-index: 50;
    right: 0;
    top: 0;
    background-color: #FFF;
    -webkit-box-shadow:  -2px 0px 30px 0px rgba(0,0,0,.7); 
    box-shadow:  -2px 0px 30px 0px rgba(0,0,0,.7);
    height: 100%;
}

#detail-container #task-details-container {
    height: 100%;

}

#detail-container.half {
    width: 500px;
    overflow: hidden;
}

#detail-container.full {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    background-image: url(../images/detail-container-bgr.png);
}

.task-block {
    width: 500px;
    margin: 0;
    float: left;
    height: 100%;
    position:relative;
    background-color: #FFF;
    overflow: hidden;
}
.full .task-block{
    border-right: 10px solid #b1b1b1;
    margin:  0;
    

}
.full .task-block:first-child {
    border-left: 10px solid #b1b1b1;
}
.full .task-block:hover {
    
}
.task-block > .close {
    top: 10px;
    left: 10px;
    position: absolute;

}

.task-block > .close button {
    display: block;
    width: 28px;
    height: 28px;
    opacity: .5;
    background-color: #000;
    border: none;
    overflow: hidden;
    text-indent: -9000px;
    -webkit-border-radius: 14px;
    border-radius: 14px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    background-image: url(../images/close-detail.png);
    background-repeat: no-repeat;
}

.task-block > .close button:hover {
    opacity: 1;
}

.task-block .title  {
    height: 47px;
    line-height: 48px;
    font-size: 14px;
    padding: 0 20px 0 51px;
    

}
.task-block .title div {
    display: inline-block;
}


.task-block .detail-nav {

    padding: 0;
    margin: 0;

    height: 40px;
    border-bottom: 1px solid #b1b1b1;
    border-top: 1px solid #b1b1b1;

    -webkit-box-shadow:  0px 2px 10px 0px rgba(0,0,0,.3); 
    box-shadow:  0px 2px 10px 0px rgba(0,0,0,.3);
    overflow: hidden;

}
.task-block .detail-nav div {
    float: left;
    height: 40px;
    display: block;
    line-height: 42px;
    padding: 0 20px;
    color: #999;
    font-size: 12px;
    font-weight: bold;
}

.task-block .detail-nav div:hover{
    color: #000;
}

.task-block .detail-nav div.active{
    background-color: #FFF;
    height: 41px;
    border-left: 1px solid #b1b1b1;
    border-right: 1px solid #b1b1b1;
    color: #000;
}

.task-block .detail-nav div:first-child.active {
    border-left: none !important;
}
.task-block .options {
    position: absolute;
    bottom: 0;
    background-color: #FFF;
    border-top: 1px solid #b1b1b1;
    width: 500px;
    height: 100px;
    -webkit-box-shadow:  0px -2px 10px 0px rgba(0,0,0,.3); 
    box-shadow:  0px -2px 10px 0px rgba(0,0,0,.3);
}



.task-block .options div{
    float: left;
    width: 25%;
    display: block;
    border-right: 1px solid #b1b1b1;
    height: 98px;
    background-repeat: no-repeat;
    background-position: top center;
    text-indent: -9000px;
    opacity: .5;
}

.task-block .options div:hover{
    opacity: 1;
}

.task-block .options .start{
    background-image: url(../images/start-icon-big.png);

}

.task-block .options .abort{
    background-image: url(../images/abort-icon-big.png);        
}

.task-block .options .foward{
    background-image: url(../images/foward-icon-big.png);        
}

.task-block .options .save{
    background-image: url(../images/save-icon-big.png);        
}

.task-block .options .complete{
    background-image: url(../images/complete-icon-big.png);        
}



.task-block .options .user{
    background-image: url(../images/user-icon-big.png);        
}

.task-block .options .attach{
    background-image: url(../images/attach-icon-big.png);        
}

.task-block .options .sub-task{
    background-image: url(../images/sub-task-icon-big.png);        
}

.task-block .options .notes{
    background-image: url(../images/notes-icon-big.png);        
}



.task-block .options ul li:last-child  a {
    border: none;
}

.task-block.active .options {
    background-color: #d2f0b2;
}

.task-block .content {
    padding: 20px 20px 120px 20px;
    overflow-y: auto;
    max-height: 70%;
    font-size: 12px;
    line-height: 17px;
    color: #555;
}
.task-block .content .sub-section  {
    border-bottom: 1px solid #b1b1b1;
    margin: 0 -20px;
    padding: 0 20px;
    overflow: hidden;
    -webkit-box-shadow:  0px 3px 5px 0px rgba(0,0,0,.2); 
    box-shadow:  0px 3px 5px 0px rgba(0,0,0,.2);
    -webkit-transition: height .25s;
    transition: height .25s;
}
.sub-section.collapsed {

    height: 60px;
}

.task-block .content .sub-section:last-child {
    -webkit-box-shadow:  none; 
    box-shadow:  none;
    border-bottom: none;
}

.task-block .content .sub-section .top {
    height: 60px;
    line-height: 60px;
    font-weight: bold;
    position: relative;
    color: #000;
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;

}

.task-block .content .sub-section .top .collapse{
    position: absolute;
    right: 0;
    top: 17px;
}

.task-block .content .sub-section .top .collapse div{
    display: block;
    width: 25px;
    height: 25px;
    overflow: hidden;
    text-indent: -9000;
    background-repeat: no-repeat;
    background-position: top left;
    opacity: .5;
}

.task-block .content .sub-section .top .collapse div:hover {
    opacity: 1;
}

.task-block .content .sub-section .top .collapse div {
    background-image: url(../images/sub-content-close.png);
}

.task-block .content .sub-section.collapsed .top .collapse div {
    background-image: url(../images/sub-content-open.png);
}

.task-block .content .sub-section .sub-section-content {
    padding: 0 0 30px 0;
}



/*FORM*/

.task-block label{
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #000;        
}
.task-block input[type="text"]{
    border: none;
    background-color: #e5e5e5;
    width: 440px;
    padding: 0 10px;
    height: 33px;
    line-height: 34px;
    color: #666;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.task-block textarea{
    border: none;
    background-color: #e5e5e5;
    width: 440px;
    padding: 10px;
    height: 50px;
    line-height: 17px;
    color: #666;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.task-block .form-row {
    padding-bottom: 10px;
}


.task-block input[type="text"].date-input{

    width: 420px;
    padding: 0 30px 0 10px;
    background-image: url(../images/date-input.png);
    background-repeat: no-repeat;
    background-position: top right;
    
}

.task-block .file-container {
    background-color: #e5e5e5;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
     padding: 7px 10px;
     height: 20px;
     line-height: 20px;
}
.task-block input[type="file"]{
    border: none;

    width: 440px;
    padding: 0px ;
    height: 20px;
    line-height: 20px;
    color: #666;
 
}

.task-block select{
    border: none;
    background-color: #e5e5e5;
    width: 460px;
    padding: 0 10px;
    height: 33px;
    line-height: 34px;
    color: #666;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.gradient {
    filter: none;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    .form .form-content .form-row label{
        width: 100%;
        text-align: left;
    }
    .form .form-content .form-row input[type="text"], .form .form-content .form-row input[type="date"], .form .form-content .form-row input[type="file"], .form .form-content .form-row textarea {
        width: 98%;
        float: none;
    }
    .form .form-content .form-row .select-container, .form .form-content .form-row .input-button {
        width: 100%;
        float: none;
    }
    .list .list-options {
        height: auto;
        min-height: 25px;
    }
    .list .list-options input[type="search"] {
        width: 100%;
        margin-bottom: 5px;
    }
    .list .list-options .option {
        display: block;

    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
