.kie-process-instance-nodes .kie-dock__panel-group .kie-diagram-instances-heading {
    background-image: none;
    padding-top: 0px;
    padding-bottom: 0px;
}

.kie-process-instance-nodes .kie-dock__panel-group .panel-collapse .kie-diagram-instances-list {
    border-top: none;
    padding-top: 5px;
    padding-bottom: 0px;
}

.kie-process-instance-nodes .kie-dock__panel-group .panel-collapse .kie-diagram-instances-list .list-group {
    margin-bottom: 0px;
}

.kie-process-instance-nodes .kie-dock__panel-group .panel-collapse .kie-diagram-instances-list .list-group-item {
    padding-left: 5px;
    padding-right: 5px;
}

.kie-process-instance-nodes .kie-diagram-instance-panel-group {
    margin-bottom: 5px;
}

.kie-process-instance-nodes .kie-dock__panel-group .kie-diagram-instance-item-heading {
    background-image: none;
    padding: 0px;
}

 .kie-process-instance-nodes .kie-diagram-instance-item-details {
     margin-top: 5px;
     margin-left: 15px;
 }

.kie-process-instance-nodes .kie-diagram-instance-item-details dl {
    margin-bottom: 0px;
    padding-top: 5px;
}

.kie-process-instance-nodes .kie-diagram-instance-item-timeago {
    margin-top: 4px;
    margin-bottom: 4px;
}

.kie-form-group-process-node {
    margin-bottom: 5px;
}