.kie-cm-container {
    display: table;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.kie-cm-container-row {
    display: table-row;
}

.kie-cm-container-column {
    display: table-cell;
    float: none;
}

.sidebar-actions .list-group-item {
    background: #fafafa;
}

.title-action {
    margin-left: 5px;
    margin-top: 10px;
}

.primary-action {
    padding-left: 0px;
    padding-top: 10px;
}

.case-title {
    margin-top: 10px;
    margin-bottom: 20px;
}

.case-details {
    border-top: 1px solid #ededed;
    padding-top: 20px;
}