.list-view-pf .list-group-item-heading:hover {
    cursor: hand;
}

.list-view-pf .list-group-item-text-status {
    -ms-flex: 1 0 10em;
    flex: 1 0 10em;
    width: 10em;
}

.list-view-pf .list-group-item-text-case {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: calc(70%);
}

.list-view-pf-additional-info-item {
    margin-right: 50px;
}

.list-view-pf-additional-info-item span.text {
    margin-right: 5px;
}

.list-view-pf-additional-info-item span.data {
    font-weight: 600;
}

.toolbar-pf .form-group:first-child {
    padding-left: 0px;
}

.toolbar-pf .form-group label.control-label {
    padding-right: 5px;
}

.list-view-pf-main-info.active:hover {
    cursor: pointer;
}