.kie-card-pf-heading {
    border-bottom: 2px solid #d1d1d1;
    border-top: 0;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-left: 15px;
    margin-left: -10px;
}

.kie-card-pf-body {
    padding-bottom: 50px;
}

.kie-inputcomment-area {
    padding-top: 10px;
    margin-bottom: -20px;
    padding-left: 10px;
}

.kie-comments__list-view-pf-left .pficon.kie-no-highlight,
.kie-comments__list-view-pf-left .fa.kie-no-highlight {
    background-color: #ededed;
    border-color: transparent;
}

.kie-full-width {
    width: 100%;
    display: inline-block;
}

.kie-comments__add-button {
    font-size: 2.0rem;
}

.kie-list-group-item--header {
    border-bottom: 1px solid #d1d1d1;
    border-top: 0;
    display: flex;
    margin-left: -4px;
    margin-top: 26px;
}

.kie-scrollbox--comments {
    overflow: auto;
    margin-left: -5px;
}

.kie-card-body--embedded {
    padding-left: 30px;
}

.kie-comments__pf-actions {
    margin-top: -5px;
    margin-bottom: 0;
    margin-left: -5px;
}

.kie-comments__main-info {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 15px;
}

