.availableColor {
    color: #339900;

}

.inProgressColor {
    color: #009bd5;
}

.completedColor {
    color: #666666;
}

.listTitle {
    border-bottom: 1px solid #999;
    width: 100%;
    background-color: white;
}
