<div>
    <div class="row" data-field="formContainerRow">
        <div class="col-md-12" data-field="formContainer"></div>
    </div>
    <div class="row" data-field="formFooterRow">
        <div class="col-md-12" data-field="formFooter"></div>
    </div>
    <div class="row" data-field="errorContainerRow">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                <span class="pficon pficon-error-circle-o"></span>
                <span data-field="errorHeader" class="alert-header"></span>
                <span data-field="errorContainer"></span>
            </div>
        </div>
    </div>
</div>
