/* Override PatternFly default css so border isn't duplicated */


/* Loading indicator at Startup */
#loading {
    position: absolute;
    left: 45%;
    top: 40%;
    padding: 2px;
    z-index: 20001;
    height: auto;
    border: 1px solid #ccc;
}

/* Hide navigation menu */
ul.nav.navbar-nav.navbar-primary.persistent-secondary {
    display: none;
}